.slide-up {
    animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation-duration: 1s;
    animation-delay: .5s;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-left {
    animation: slide-left 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

.slide-right {
    animation: slide-right 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }
}

.no-scroll {
    overflow: hidden;
}