nav #nav-icon {
  margin: 1rem;
  width: 1.5rem;
  height: 1rem;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 1rem;
}
nav #nav-icon span {
  display: block;
  position: absolute;
  height: 0.25rem;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
nav #nav-icon span:nth-child(1) {
  top: 0px;
}
nav #nav-icon span:nth-child(2),
nav #nav-icon span:nth-child(3) {
  top: 18px;
}
nav #nav-icon span:nth-child(4) {
  top: 36px;
}
nav #nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
nav #nav-icon.open span:nth-child(2) {
  transition-delay: 0.5s;
  background: #2B2B2B;
  transform: rotate(45deg);
}
nav #nav-icon.open span:nth-child(3) {
  transition-delay: 0.5s;
  background: #2B2B2B;
  transform: rotate(-45deg);
}
nav #nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.slide-up {
  animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide-left {
  animation: slide-left 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-right {
  animation: slide-right 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
.no-scroll {
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: din-2014, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
  background-color: #65515c;
  color: white;
  max-width: 100vw;
  height: -webkit-fill-available;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
body a,
body a:hover,
body a:focus,
body a:active {
  text-decoration: none;
  color: inherit;
}
body *:focus {
  outline: 0 !important;
}
body .hidden {
  margin-left: -10rem;
}
body menu {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #4b4846;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
}
body menu ul {
  margin: 1rem;
  font-size: calc(2rem + 6vw);
}
body menu ul li {
  margin: 4rem;
  transition: 0.5s;
}
body menu ul li:hover {
  color: #5b5b60;
  transform: scale(1.05);
}
body nav {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body nav #nav-icon {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  margin: 2.5rem;
}
body nav #nav-icon span {
  transition: 0.5s;
}
body nav #nav-icon:hover > span {
  transform: scaleX(1.25);
}
body nav a {
  transition: 0.5s;
}
body nav a img {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  z-index: 100;
  margin: 2.5rem;
  transition: 0.5s;
}
body .random-image {
  display: none;
  position: absolute;
  width: 25vw;
  z-index: -100;
}
body .random-image img {
  opacity: 0.25;
  width: 100%;
}
body landing {
  margin-top: 7rem;
  width: 75%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
@media (min-width: 750px) {
  body landing {
    height: 25em;
  }
}
body landing h1 {
  letter-spacing: 0.25rem;
  text-align: center;
  font-size: calc(1rem + 5vw);
  color: white;
  margin: 1rem;
}
body background {
  content: "";
  background-image: url("../images/SF/IMG_4876.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: grayscale(100%);
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
@media only screen and (max-width: 900px) {
  body background {
    background-attachment: scroll;
  }
}
body users {
  margin: 1rem;
  margin-top: 3rem;
  width: 60vw;
  display: flex;
  justify-content: space-between;
}
body users a {
  transition: 0.5s;
  border-bottom: 1px solid transparent;
  text-align: center;
  line-height: 1.5rem;
  padding: 0.25rem;
}
body users a:hover {
  border-color: white;
}
body services {
  margin-top: 10rem;
  min-height: 90vh;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
body services h2 {
  letter-spacing: 0.25rem;
  font-size: 3rem;
  margin: 1rem;
}
body services ul {
  width: 75%;
  min-width: 20rem;
  margin: 1rem;
}
body services ul li {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}
body services ul li:hover {
  transform: scale(1.05);
}
body services ul description {
  display: none;
}
body services ul description paragraph {
  line-height: 1.5rem;
}
body services ul description paragraph p {
  padding-bottom: 1rem;
}
body services ul hr {
  border: 0.05rem white solid;
}
body approach {
  margin-top: 5rem;
  min-height: 100vh;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
body approach h2 {
  letter-spacing: 0.25rem;
  font-size: 3rem;
  margin: 1rem;
}
body approach paragraph {
  min-width: 20rem;
  line-height: 1.5rem;
  padding: 0.5rem;
}
body about {
  margin-top: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body about h2 {
  letter-spacing: 0.25rem;
  font-size: 3rem;
  margin: 1rem;
}
body about paragraph {
  margin: 0.5rem;
  min-width: 20rem;
  width: 65%;
  line-height: 1.5rem;
}
body about people {
  width: 75%;
}
body about people grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body about people grid div {
  margin: 2rem;
  min-width: 20rem;
  width: 40vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
body about people grid div img {
  filter: grayscale(100%);
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  transition: 0.5s;
  opacity: 0.75;
}
body about people grid .gary img:hover,
body about people grid .gary img:active,
body about people grid .gary img:focus {
  filter: grayscale(25%);
  opacity: 1;
  transform: scale(1.25);
  transform-origin: 50% 0%;
}
body about people grid .don img:hover,
body about people grid .don img:active,
body about people grid .don img:focus {
  filter: grayscale(25%);
  opacity: 1;
  transform: scale(1.25);
  transform-origin: 50% 0%;
}
body about people grid .randall img:hover,
body about people grid .randall img:active,
body about people grid .randall img:focus {
  filter: grayscale(25%);
  opacity: 1;
  transform: scale(1.25);
  transform-origin: 50% 0%;
}
body about people grid .john img:hover,
body about people grid .john img:active,
body about people grid .john img:focus {
  filter: grayscale(25%);
  opacity: 1;
  transform: scale(1.25);
  transform-origin: 50% 0%;
}
body about people person {
  margin: 2rem;
  width: 40vw;
  min-width: 20rem;
  display: none;
}
body footer {
  font-size: 0.75rem;
  margin-top: 10rem;
  min-height: 75vh;
  min-width: 75%;
  display: flex;
  justify-content: space-between;
}
body footer a {
  transition: 0.5s;
  border-bottom: 1px solid transparent;
  line-height: 2rem;
  padding: 0.5rem;
}
body footer a:hover {
  border-color: white;
}
body footer div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
}
body footer div map {
  width: calc(7rem + 25vw);
  margin: 1rem;
  overflow: hidden;
  filter: grayscale(100%);
}
body footer div map a {
  padding: 0 !important;
  line-height: 1;
  border-bottom: 0;
  display: block;
}
body footer div map a img {
  width: 100%;
  opacity: 0.25;
  transition: 0.5s;
}
body footer div map a img:hover {
  opacity: 0.75;
  transform: scale(1.05);
}
body footer div h3 {
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
body footer div p {
  margin-left: 1rem;
  margin-bottom: 0.25rem;
}
body footer ul {
  margin-top: 1rem;
}
body footer ul li {
  margin-bottom: 3rem;
}
body disclosure {
  font-size: 0.75rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body disclosure links {
  display: flex;
}
body disclosure links p,
body disclosure links a {
  cursor: pointer;
  padding: 1rem;
  transition: 0.5s;
}
body disclosure links a:focus,
body disclosure links a:hover {
  color: white;
}
body disclosure paragraph {
  line-height: 1.5rem;
  display: none;
  text-align: left;
  width: 75%;
  min-width: 10rem;
  font-size: 1rem;
  color: white;
}/*# sourceMappingURL=style.css.map */